body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    overflow-x: hidden;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 10px auto 5px;
}

#container {
    background-color: #c8e6db;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin-right: 0;
}

#mobile {
    flex: 9;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#head, #links, #projects {
    margin-bottom: 3px;
    margin-top: 3px;
}

#about {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#photo {
    display: block;
    margin: 10px auto 5px;
    width: 70%;
    border-radius: 10px;
    border: 4px solid #ff686b;
    box-shadow: 10px 5px 5px #ffa69e;
}

#contact > h3, #projects > h3 {
    text-decoration: underline;
    text-align: center;
    margin: 4px auto 20px auto;
}

#links > h3 {
        text-decoration: underline;
        text-align: center;
        margin: 0 auto 10px auto;
}
 
#links > ul, #links > ul > li {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
}

#contact {
    margin: 5px 10%;
}

.contact-info, .projects-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info, .contact-info > p, .projects-info, .projects-info > p {
    margin-top: 2px;
    margin-bottom: 2px;
}

.bold {
    font-weight: 600;
}

#projects {
    margin: 5px 10%;
}

.bold > a {
    background-color: #ffa69e;
    padding: 2px;
    border-radius: 3px;
    color: #84dcc6;
}

.bold > a:active {
    background-color: #ff686b;
    color: #ffffff;
}

.bold > a:visited {
    background-color: #ff686b;
    color: #a5ffd6
}

#links {
    margin: 0 10% 20px 10%;
}

#links-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

#bio {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bio > h2 {
    text-decoration: underline;
    margin: 20px auto 20px;
}

#bio_text {
    text-align: center;
    font-size: 1.3em;
    line-height: 1.3;
    border-radius: 10px;
    border: 4px solid #ff686b;
    box-shadow: 10px 5px 5px #ffa69e;
    padding: 10%;
    height: 80%;
    margin: 0 10% 20px 5%;
}

h2 {
    margin-left: 0;
    margin-right: auto;
}

#tabs {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space around;
    align-items: stretch;
    margin-right: 0;
}

#tabs > button > img {
    width: 80%;
}

button {
    height: 25%;
    margin: 0;
    background-color: #ffa69e;
    border: 4px solid #ff686b;
    border-right: 0;
    border-radius: 10px 0 0 10px;
    transition: all 0.05s ease-in-out; 
}

button:active {
    transform: scale(0.9);
    background-color: #df8f88;
    border: 4px solid #cf5557;
    border-right: 0;
    box-shadow: 10px 5px 5px #ffa69e;
}

.hidden {
    right: -50%;
    padding: 2% 7% 2% 1%;
}

.job_title {
    margin-top: 5px;
}

.job_title, .job_name, .job_dates, .job_desc  {
    margin-top: 2px;
    margin-bottom: 2px;
}

.job_name {
    text-decoration: underline;
}

.job_title {
    margin-top: 5px;
    font-weight: bold;
}

.job_dates {
    font-style: italic;
}

#work {
    width: 40%;
    top: 0%;
    text-align: left;
    position: absolute;
    background-color: #ffa69e;
    border: 4px solid #ff686b;
    border-right: 0;
    border-radius: 10px 0 0 10px;
    box-shadow: 10px 5px 5px #ffa69e;
}

#edu {
    width: 40%;
    top: 15%;
    text-align: left;
    position: absolute;
    background-color: #ffa69e;
    border: 4px solid #ff686b;
    border-right: 0;
    border-radius: 10px 0 0 10px;
    box-shadow: 10px 5px 5px #ffa69e;
}

#it {
    width: 40%;
    top: 30%;
    text-align: left;
    position: absolute;
    background-color: #ffa69e;
    border: 4px solid #ff686b;
    border-right: 0;
    border-radius: 10px 0 0 10px;
    box-shadow: 10px 5px 5px #ffa69e;
}

#soft {
    width: 40%;
    top: 35%;
    text-align: left;
    position: absolute;
    background-color: #ffa69e;
    border: 4px solid #ff686b;
    border-right: 0;
    border-radius: 10px 0 0 10px;
    box-shadow: 10px 5px 5px #ffa69e;
}

#skills {
    list-style-type: none;
    padding-left: 0;
}

.skill_prog {
    background: #ff686b;
    height: 100%;
    z-index: 2;
    display: inline-block;
    border-radius: 15px;
}

.skill_bar {
    background-color:#c8e6db;
    width: 50%;
    height: 24px;
    border: 2px solid #ff686b;
    border-radius: 15px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 480px) {
    #mobile {
        flex-wrap: wrap;
    }

    #body, #html {
        overflow-x: hidden;
    }
    
}